{% extends "../base.html" %}

{% block content %}
{% if errors%}
	{% for e in errors%}
		<p style='color:red'>{{e}}</p>
	{% endfor %}
{% endif %}
	<form action='' method='POST'>
		<h4>Info general</h4>
		Nombre: <input type='text' name='name' /><br />
		Target Url: <input type='text' name='target_url' /><span>*</span><br />
		Priority:
			<select name='priority'>
				<option value='1'>High</option>
				<option value='2'>Medium</option>
				<option value='3'>Low</option>
			</select><br />
		<h4>Estructura del anuncio de texto</h4>
		Titulo a mostrar: <input type='text' name='title' /><span>*</span><br />
		Linea de texto 1: <input type='text' name='description_text_line_1' /><span>*</span><br />
		Linea de texto 2: <input type='text' name='description_text_line_2' /><br />
		URL para mostrar: <input type='text' name='visible_url' /><br />
		<input type='submit' value='Crear Anuncio' />
		
		<span>* campos obligatorios</span>
	</form>
{% endblock %}